@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body{
    font-family: 'Roboto', sans-serif; 
}
.marca{
    font-family: 'Rubik', sans-serif;
}
.h-marca{
    font-family: 'Rubik', sans-serif;
    font-size: 49px;
}
.container-form{
    width: 25%;
}
.h-marca-signup{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    
}
.h-marca-signup > .marca{
    color: #85F56E;
}

.h-marca > #punto{
    font-family: 'Roboto', sans-serif;
    color: #85F56E;

}

.about{
    background-image: url('../img/fondo_about.jpg') ;

    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}



/*
* Side bar
*/


#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {

  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 18rem;
  
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

  