{% extends 'index.html' %}
{% block content %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %} 
<!-- <h1>Inicio de sessión {{request.user.groups.all}} </h1> -->
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class=" border-right" id="sidebar-wrapper">
      <div class=" marca sidebar-heading text-light bg-success">
          <img src="{% static "img/levip_icon.svg" %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
         Levip For Enterprises</div>
      <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-action bg-light">
            <div class="row justify-content-md-center">
                <div class="col-md-5">
                    <div class="card" style="width: 6rem; height: 6rem; background: #fafafa;">
                        <div class="card-body">
                            <img src="{% static "/img/user.png" %}" width="100"  class="card-img-top" alt="User">
                        </div>
                      </div>
                </div>
                <div class="col-md-7">
                    <h5 class="text-capitalize"> {{request.user.username}} </h5>
                    {% for g in request.user.groups.all  %}
                      <h6 class="text-capitalize text-success">{{g.name}}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if perms.Levip.view_administrador %}
          <a href="/levip/administrator" class="list-group-item list-group-item-action bg-light"><i class="fas fa-user-shield"></i> Administrator</a>
        {% endif %}
        {% if  perms.Levip.view_cliente %}
          <a href="/levip/customer" class="list-group-item list-group-item-action bg-light"><i class="fas fa-address-card"></i> Customer</a>
        {% endif %}
        {% if  perms.Levip.view_despachador %}
        <a href="/levip/dispatcher" class="list-group-item list-group-item-action bg-light"><i class="fas fa-people-carry"></i> Dispatcher</a>
        {% endif %}
        {% if  perms.Levip.view_precio %}
        <a href="/levip/price" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tags"></i> Price</a>
        {% endif %}
        {% if  perms.Levip.view_item %}
        <a href="/levip/item" class="list-group-item list-group-item-action bg-light"><i class="fas fa-gifts"></i> Item</a>
        {% endif %}
        {% if  perms.Levip.view_pedido %}
        <a href="/levip/order_ped" class="list-group-item list-group-item-action bg-light"><i class="fas fa-shopping-cart"></i> Order</a>
        {% endif %}
        {% if  perms.Levip.view_orden %}
        <a href="/levip/order" class="list-group-item list-group-item-action bg-light"><i class="fas fa-shopping-cart"></i> Order</a>
        {% endif %}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
       

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/levip/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row justify-content-md-center">
          <div class="col-md-7 ">
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}