{% extends 'index.html' %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/levip">
    <img src="{% static "img/levip_icon.svg" %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Levip For Enterprises
    </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/levip">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/levip/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <a class="btn btn-outline-success my-2 my-sm-0 text-capitalize" href="/levip/signin" role="button">Sign in</a>
            <a class="btn btn-success ml-2 text-capitalize" href="/levip/signup" role="button">Sign up</a>
    </form>
  </div>
</nav>
<div class="about">
    
</div>

{% endblock %}