{% extends 'index.html' %}
{% block content %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %} 
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class=" border-right" id="sidebar-wrapper">
      <div class=" marca sidebar-heading text-light bg-success">
          <img src="{% static "img/levip_icon.svg" %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
         Levip For Enterprises</div>
      <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-action bg-light">
            <div class="row justify-content-md-center">
                <div class="col-md-5">
                    <div class="card" style="width: 6rem; height: 6rem; background: #fafafa;">
                        <div class="card-body">
                            <img src="{% static "/img/user.png" %}" width="100"  class="card-img-top" alt="User">
                        </div>
                      </div>
                </div>
                <div class="col-md-7">
                    <h5 class="text-capitalize">{{user.CLIE_USERNAME}} </h5>
                      <h6 class="text-capitalize text-success">{{user.CLIE_CEDULA}}</h6>
                </div>
            </div>
        </div>
        <a href="/levip/dashboard/pedido" class="list-group-item list-group-item-action bg-light"><i class="fas fa-shopping-cart"></i> Order</a>
        <a href="/levip/dashboard/item" class="list-group-item list-group-item-action bg-light"><i class="fas fa-shopping-cart"></i> Item</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
       

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/levip/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row justify-content-md-center">
       
           {% if orders %}
          <div class="col-md text-center">
          <h2 class="marca m-3">List of Order</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ID</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Items</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                <tr>
                  <th scope="row">1</th>
                  <td>{{order.PED_ID}}</td>
                  <td>{{order.PED_CANTIDAD}}</td>
                  {% for item in items %}
                  {% if item.IT_ID == order.IT_ID.IT_ID %}
                  <td>{{item.IT_NOMBRE}}</td>
                  {% endif %}
                  {% endfor %}
                  <td>
                    <a class="btn btn-success text-capitalize" href="/levip/dashboard/editOrderView/{{order.PED_ID}}" role="button"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger text-capitalize" href="/levip/dashboard/deleteOrder/{{order.PED_ID}}" role="button"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="text-right m-2">
              <a class="btn btn-outline-success text-capitalize" href="/levip/dashboard/createOrdenView" role="button">Create Order</a>
            </div>
          </div>
          {% else %}
          <div class="col-md-7 text-center m-5">
            <img src="{% static "/img/no_data.svg" %}" width="200" alt="User">
            <div class="m-2">
              <h3 class=" marca text-capitalize">There are no added orders yet</h3>
              <h4 class="text-muted">Do you want to add an order? <h4>
                <a class="btn btn-outline-success text-capitalize" href="/levip/dashboard/createOrdenView" role="button">Create Order</a>
            </div>
          </div>
            
          {% endif %}
           
         
        </div>
      </div>
    </div>
  </div>
{% endblock %}