{% extends 'index.html' %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/levip">
    <img src="{% static "img/levip_icon.svg" %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Levip For Enterprises
    </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/levip">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/levip/about">About</a>
      </li>
    </ul>
    <form  class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0"><a class="text-success text-decoration-none" href="/levip/signin">Sign in</a></button>
    </form>
  </div>
</nav>
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-5 my-auto">
            <div class="m-5 text-center">
                <img src="{% static "img/sign_in.svg" %}" width="400"  class="img-fluid" alt="Responsive image">
                <div class="text-center">
                    <p class="h-marca">Welcome back</p>
                    <h4 class="text-muted">Log in and start registering your orders</h4>
                </div>
            </div>

        </div>
        <div class="col-md-7 my-auto">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-7">
                        <form action="">
                            <div class="text-center">
                                <h3 class="h-marca-signup m-1">Sign in to <span class="marca"> Levip</span> </h3>
                                <p class="text-muted">Use your username to enter</p>
                            </div>
                            <div class="text-center">
                                <div class="input-group mt-3 ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Username</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                </div>
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
                                    </div>
                                    <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                                </div>
                                <div class="profile mt-3">
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5 > <label class=" font-weight-bold text-dark" for="exampleFormControlSelect1">Select a profile</label></h5>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                  <option>Client</option>
                                                  <option>Administrator</option>
                                                  <option>Dispatcher</option>
                                                </select>
                                              </div>
                                        </div>
                                    </div>
                                 
                                   
                                </div>
                                <div class="forgor">
                                    <p><a class="text-decoration-none font-weight-bold text-secondary" href="">Forgot your password?</a></p>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg">SIGN UP</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}